In [2]:
import numpy as np
import pandas as pd
import csv

In [3]:
def removeQMark(A, sp):
    flag = 0;
    for i in range (sp,len(A)):
        for j in range (len(A[i])):
            if(A[i][j] == ' ?'):
                A = np.delete(A,i,0)
                flag = 1;
                break
        if(flag == 1):
            break
    if(flag ==1):
        return removeQMark(A,i)
    else:
        return A

In [4]:
# ionosphere 
df_ion = pd.read_csv("ionosphere.data", header=None, delimiter=r",",)
data_ion = df_ion.values
data_ion = np.delete(data_ion,1,1)
X_ion = data_ion[:, :32]
Y_ion = data_ion[:, 33]
for i in range (len(Y_ion)):
    if Y_ion[i] == 'g' :
        Y_ion[i] = 1
    else:
        Y_ion[i] = 0

In [5]:
print(X_ion)
print(Y_ion)

[[1 0.99539 -0.05889 ... 0.42267 -0.54487 0.18641]
 [1 1.0 -0.18829 ... -0.16626 -0.06287999999999999 -0.13738]
 [1 1.0 -0.03365 ... 0.60436 -0.2418 0.56045]
 ...
 [1 0.94701 -0.00033999999999999997 ... 0.9245899999999999 0.00442
  0.9269700000000001]
 [1 0.9060799999999999 -0.016569999999999998 ... 0.9602200000000001
  -0.03757 0.87403]
 [1 0.8471 0.13533 ... 0.75747 -0.06677999999999999 0.85764]]
[1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0
 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0
 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0
 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [6]:
#adult
df_adult = pd.read_csv("adult.data", header=None, delimiter=r",",)
data_adult = df_adult.values
data_adult = removeQMark(data_adult,0)
X_adult = data_adult[:,:15]
#Y_adult = data_adult[:,14]

In [7]:
print(df_adult)
print(X_adult)
#print(Y_adult)

       0                  1       2              3   4   \
0      39          State-gov   77516      Bachelors  13
1      50   Self-emp-not-inc   83311      Bachelors  13
2      38            Private  215646        HS-grad   9
3      53            Private  234721           11th   7
4      28            Private  338409      Bachelors  13
5      37            Private  284582        Masters  14
6      49            Private  160187            9th   5
7      52   Self-emp-not-inc  209642        HS-grad   9
8      31            Private   45781        Masters  14
9      42            Private  159449      Bachelors  13
10     37            Private  280464   Some-college  10
11     30          State-gov  141297      Bachelors  13
12     23            Private  122272      Bachelors  13
13     32            Private  205019     Assoc-acdm  12
14     40            Private  121772      Assoc-voc  11
15     34            Private  245487        7th-8th   4
16     25   Self-emp-not-inc  176756        HS-grad   9
17     32            Private  186824        HS-grad   9
18     38            Private   28887           11th   7
19     43   Self-emp-not-inc  292175        Masters  14
20     40            Private  193524      Doctorate  16
21     54            Private  302146        HS-grad   9
22     35        Federal-gov   76845            9th   5
23     43            Private  117037           11th   7
24     59            Private  109015        HS-grad   9
25     56          Local-gov  216851      Bachelors  13
26     19            Private  168294        HS-grad   9
27     54                  ?  180211   Some-college  10
28     39            Private  367260        HS-grad   9
29     49            Private  193366        HS-grad   9
...    ..                ...     ...            ...  ..
32531  30                  ?   33811      Bachelors  13
32532  34            Private  204461      Doctorate  16
32533  54            Private  337992      Bachelors  13
32534  37            Private  179137   Some-college  10
32535  22            Private  325033           12th   8
32536  34            Private  160216      Bachelors  13
32537  30            Private  345898        HS-grad   9
32538  38            Private  139180      Bachelors  13
32539  71                  ?  287372      Doctorate  16
32540  45          State-gov  252208        HS-grad   9
32541  41                  ?  202822        HS-grad   9
32542  72                  ?  129912        HS-grad   9
32543  45          Local-gov  119199     Assoc-acdm  12
32544  31            Private  199655        Masters  14
32545  39          Local-gov  111499     Assoc-acdm  12
32546  37            Private  198216     Assoc-acdm  12
32547  43            Private  260761        HS-grad   9
32548  65   Self-emp-not-inc   99359    Prof-school  15
32549  43          State-gov  255835   Some-college  10
32550  43   Self-emp-not-inc   27242   Some-college  10
32551  32            Private   34066           10th   6
32552  43            Private   84661      Assoc-voc  11
32553  32            Private  116138        Masters  14
32554  53            Private  321865        Masters  14
32555  22            Private  310152   Some-college  10
32556  27            Private  257302     Assoc-acdm  12
32557  40            Private  154374        HS-grad   9
32558  58            Private  151910        HS-grad   9
32559  22            Private  201490        HS-grad   9
32560  52       Self-emp-inc  287927        HS-grad   9

                           5                   6                7   \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                   ?          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
32531           Never-married                   ?    Not-in-family
32532      Married-civ-spouse      Prof-specialty          Husband
32533      Married-civ-spouse     Exec-managerial          Husband
32534                Divorced        Adm-clerical        Unmarried
32535           Never-married     Protective-serv        Own-child
32536           Never-married     Exec-managerial    Not-in-family
32537           Never-married        Craft-repair    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32539      Married-civ-spouse                   ?          Husband
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32542      Married-civ-spouse                   ?          Husband
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32547      Married-civ-spouse   Machine-op-inspct          Husband
32548           Never-married      Prof-specialty    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32550      Married-civ-spouse        Craft-repair          Husband
32551      Married-civ-spouse   Handlers-cleaners          Husband
32552      Married-civ-spouse               Sales          Husband
32553           Never-married        Tech-support    Not-in-family
32554      Married-civ-spouse     Exec-managerial          Husband
32555           Never-married     Protective-serv    Not-in-family
32556      Married-civ-spouse        Tech-support             Wife
32557      Married-civ-spouse   Machine-op-inspct          Husband
32558                 Widowed        Adm-clerical        Unmarried
32559           Never-married        Adm-clerical        Own-child
32560      Married-civ-spouse     Exec-managerial             Wife

                        8        9      10    11  12              13      14
0                    White     Male   2174     0  40   United-States   <=50K
1                    White     Male      0     0  13   United-States   <=50K
2                    White     Male      0     0  40   United-States   <=50K
3                    Black     Male      0     0  40   United-States   <=50K
4                    Black   Female      0     0  40            Cuba   <=50K
5                    White   Female      0     0  40   United-States   <=50K
6                    Black   Female      0     0  16         Jamaica   <=50K
7                    White     Male      0     0  45   United-States    >50K
8                    White   Female  14084     0  50   United-States    >50K
9                    White     Male   5178     0  40   United-States    >50K
10                   Black     Male      0     0  80   United-States    >50K
11      Asian-Pac-Islander     Male      0     0  40           India    >50K
12                   White   Female      0     0  30   United-States   <=50K
13                   Black     Male      0     0  50   United-States   <=50K
14      Asian-Pac-Islander     Male      0     0  40               ?    >50K
15      Amer-Indian-Eskimo     Male      0     0  45          Mexico   <=50K
16                   White     Male      0     0  35   United-States   <=50K
17                   White     Male      0     0  40   United-States   <=50K
18                   White     Male      0     0  50   United-States   <=50K
19                   White   Female      0     0  45   United-States    >50K
20                   White     Male      0     0  60   United-States    >50K
21                   Black   Female      0     0  20   United-States   <=50K
22                   Black     Male      0     0  40   United-States   <=50K
23                   White     Male      0  2042  40   United-States   <=50K
24                   White   Female      0     0  40   United-States   <=50K
25                   White     Male      0     0  40   United-States    >50K
26                   White     Male      0     0  40   United-States   <=50K
27      Asian-Pac-Islander     Male      0     0  60           South    >50K
28                   White     Male      0     0  80   United-States   <=50K
29                   White     Male      0     0  40   United-States   <=50K
...                    ...      ...    ...   ...  ..             ...     ...
32531   Asian-Pac-Islander   Female      0     0  99   United-States   <=50K
32532                White     Male      0     0  60   United-States    >50K
32533   Asian-Pac-Islander     Male      0     0  50           Japan    >50K
32534                White   Female      0     0  39   United-States   <=50K
32535                Black     Male      0     0  35   United-States   <=50K
32536                White   Female      0     0  55   United-States    >50K
32537                Black     Male      0     0  46   United-States   <=50K
32538                Black   Female  15020     0  45   United-States    >50K
32539                White     Male      0     0  10   United-States    >50K
32540                White   Female      0     0  40   United-States   <=50K
32541                Black   Female      0     0  32   United-States   <=50K
32542                White     Male      0     0  25   United-States   <=50K
32543                White   Female      0     0  48   United-States   <=50K
32544                Other   Female      0     0  30   United-States   <=50K
32545                White   Female      0     0  20   United-States    >50K
32546                White   Female      0     0  40   United-States   <=50K
32547                White     Male      0     0  40          Mexico   <=50K
32548                White     Male   1086     0  60   United-States   <=50K
32549                White   Female      0     0  40   United-States   <=50K
32550                White     Male      0     0  50   United-States   <=50K
32551   Amer-Indian-Eskimo     Male      0     0  40   United-States   <=50K
32552                White     Male      0     0  45   United-States   <=50K
32553   Asian-Pac-Islander     Male      0     0  11          Taiwan   <=50K
32554                White     Male      0     0  40   United-States    >50K
32555                White     Male      0     0  40   United-States   <=50K
32556                White   Female      0     0  38   United-States   <=50K
32557                White     Male      0     0  40   United-States    >50K
32558                White   Female      0     0  40   United-States   <=50K
32559                White     Male      0     0  20   United-States   <=50K
32560                White   Female  15024     0  40   United-States    >50K

[32561 rows x 15 columns]
[[39 ' State-gov' 77516 ... 40 ' United-States' ' <=50K']
 [50 ' Self-emp-not-inc' 83311 ... 13 ' United-States' ' <=50K']
 [38 ' Private' 215646 ... 40 ' United-States' ' <=50K']
 ...
 [58 ' Private' 151910 ... 40 ' United-States' ' <=50K']
 [22 ' Private' 201490 ... 20 ' United-States' ' <=50K']
 [52 ' Self-emp-inc' 287927 ... 40 ' United-States' ' >50K']]

In [8]:
lis = [0,2,4,10,11,12]
for i in range (len(lis)):
    Max = np.max(X_adult[:,lis[i]])
    Min = np.min(X_adult[:,lis[i]])
    Max_diff = Max-Min
    for j in range (len(X_adult[:,lis[i]])):
        X_adult[j,lis[i]] = (X_adult[j,lis[i]] - Min)/Max_diff

In [9]:
dict = {
    'Private': 0,
    'Self-emp-not-inc': 1,
    'Self-emp-inc': 2,
    'Federal-gov': 3,
    'Local-gov': 4,
    'State-gov': 5,
    'Without-pay': 6,
    'Never-worked': 7,
}
for i in range (len(X_adult[:,1])):
    X_adult[i,1] = X_adult[i, 1].strip()
    X_adult[i,1] = dict[X_adult[i,1]]
print(X_adult[:,1])

[5 1 0 ... 0 0 2]

In [10]:
dict = {
    'Bachelors': 0,
    'Some-college': 1,
    '11th': 2,
    'HS-grad': 3,
    'Prof-school': 4,
    'Assoc-acdm': 5,
    'Assoc-voc': 6,
    '9th': 7,
    '7th-8th': 8,
    '12th': 9,
    'Masters': 10,
    '1st-4th': 11,
    '10th': 12,
    'Doctorate': 12,
    '5th-6th': 13,
    'Preschool': 14,
}
for i in range (len(X_adult[:,3])):
    X_adult[i,3] = X_adult[i, 3].strip()
    X_adult[i,3] = dict[X_adult[i, 3]]
print(X_adult[:,3])

[0 0 3 ... 3 3 3]

In [11]:
dict = {
    'Married-civ-spouse': 0,
    'Divorced': 1,
    'Never-married': 2,
    'Separated': 3,
    'Widowed': 4,
    'Married-spouse-absent': 5,
    'Married-AF-spouse': 6,
}
for i in range (len(X_adult[:,5])):
    X_adult[i,5] = X_adult[i, 5].strip()
    X_adult[i, 5] = dict[X_adult[i, 5]]
print(X_adult[:, 5])

[2 0 1 ... 4 2 0]

In [12]:
dict = {
    'Tech-support': 0,
    'Craft-repair': 1,
    'Other-service': 2,
    'Sales': 3,
    'Exec-managerial': 4,
    'Prof-specialty': 5,
    'Handlers-cleaners': 6,
    'Machine-op-inspct': 7,
    'Adm-clerical': 8,
    'Farming-fishing': 9,
    'Transport-moving': 10,
    'Priv-house-serv': 11,
    'Protective-serv': 12,
    'Armed-Forces': 13,
}
for i in range (len(X_adult[:,6])):
    X_adult[i,6] = X_adult[i, 6].strip()
    X_adult[i, 6] = dict[X_adult[i, 6]]
print(X_adult[:, 6])

[8 4 6 ... 8 8 4]

In [13]:
dict = {
    'Wife': 0,
    'Own-child': 1,
    'Husband': 2,
    'Not-in-family': 3,
    'Other-relative': 4,
    'Unmarried': 5,
}
for i in range (len(X_adult[:,7])):
    X_adult[i,7] = X_adult[i, 7].strip()
    X_adult[i, 7] = dict[X_adult[i, 7]]
print(X_adult[:, 7])

[3 2 3 ... 5 1 0]

In [14]:
dict = {
    'White': 0,
    'Asian-Pac-Islander': 1,
    'Amer-Indian-Eskimo': 2,
    'Other': 3,
    'Black': 4,
}
for i in range (len(X_adult[:,8])):
    X_adult[i,8] = X_adult[i, 8].strip()
    X_adult[i, 8] = dict[X_adult[i, 8]]
print(X_adult[:, 8])

[0 0 0 ... 0 0 0]

In [15]:
dict = {
    'Female': 0,
    'Male': 1,
}
for i in range (len(X_adult[:,9])):
    X_adult[i,9] = X_adult[i, 9].strip()
    X_adult[i, 9] = dict[X_adult[i, 9]]
print(X_adult[:, 9])

[1 1 1 ... 0 1 0]

In [16]:
dict = {
    'United-States': 0,
    'Cambodia': 1,
    'England' : 2,
    'Puerto-Rico': 3,
    'Canada': 4,
    'Germany' : 5,
    'Outlying-US(Guam-USVI-etc)': 6,
    'India': 7,
    'Japan' : 8,
    'Greece': 9,
    'South': 10,
    'China' : 11,
    'Cuba' : 12,
    'Iran' : 13,
    'Honduras' : 14,
    'Philippines' : 15,
    'Italy' : 16,
    'Poland' : 17,
    'Jamaica' : 18,
    'Vietnam' : 19,
    'Mexico' : 20,
    'Portugal' : 21,
    'Ireland' : 22,
    'France' : 23,
    'Dominican-Republic' : 24,
    'Laos' : 25,
    'Ecuador' : 26,
    'Taiwan' : 27,
    'Haiti' : 28,
    'Columbia' : 29,
    'Hungary' : 30,
    'Guatemala' : 31,
    'Nicaragua' : 32,
    'Scotland' : 33,
    'Thailand' : 34,
    'Yugoslavia' : 35,
    'El-Salvador' : 36,
    'Trinadad&Tobago' : 37,
    'Peru' : 38,
    'Hong' : 39,
    'Holand-Netherlands' : 40,
}
for i in range (len(X_adult[:,13])):
    X_adult[i,13] = X_adult[i, 13].strip()
    X_adult[i, 13] = dict[X_adult[i, 13]]
print(X_adult[:, 13])

[0 0 0 ... 0 0 0]

In [17]:
dict = {
    '>50K': 0,
    '<=50K': 1,
}
for i in range (len(X_adult[:,14])):
    X_adult[i,14] = X_adult[i,14].strip()
    X_adult[i,14] = dict[X_adult[i,14]]
print(X_adult[:,14])

[1 1 1 ... 1 1 0]

In [18]:
print(X_adult)
#print(Y_adult)

[[0.3013698630136986 5 0.04333771149798496 ... 0.3979591836734694 0 1]
 [0.4520547945205479 1 0.047277379845214206 ... 0.12244897959183673 0 1]
 [0.2876712328767123 0 0.1372439045614493 ... 0.3979591836734694 0 1]
 ...
 [0.5616438356164384 0 0.09391367129501216 ... 0.3979591836734694 0 1]
 [0.0684931506849315 0 0.12762010039865773 ... 0.19387755102040816 0 1]
 [0.4794520547945205 2 0.1863833640620666 ... 0.3979591836734694 0 0]]

In [19]:
with open('adult_processed.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for i in range (len(X_adult)):
        writer.writerow(X_adult[i])